.categories {
    .categories_box {
        .categories_btn {
            & button {
                height: 25px;
                width: 60px;
                color: #fff;
                background-color: #02284bd0;
                border-radius: 5px;
                cursor: pointer;
                border: none;
            }
        }

        .categories_items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            .categories_item {
                display: flex;
                align-items: center;
                justify-content: space-around;

                & img {
                    height: 150px;
                    width: 250px;
                    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
                }

                & h5 {
                    font-size: 36px;
                    color: rgb(100, 99, 99);
                }
                .categories_item-btn {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    & button{
                        height: 25px;
                        width: 60px;
                        color: #fff;
                        border-radius: 5px;
                        cursor: pointer;
                        border: none;
                    }
                    & button:nth-child(1){
                        background-color: rgba(79, 79, 252, 0.854);
                    }
                    & button:nth-child(2){
                        background-color: rgba(246, 57, 57, 0.642);
                    }
                }
            }
        }
    }
}